<!DOCTYPE html>
<html>

<head>
    <title>Beercounter</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename = 'css/styles.css') }}">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.5.1/chart.min.js"></script>
    <script></script>
</head>

<body>
    <div>
        <canvas id="myChart"></canvas>
    </div>
    <div id="chart-control">
        <form action="/" method="POST">
            <input type="submit" value="1h" name="1h" />
            <input type="submit" value="2h" name="2h" />
            <input type="submit" value="4h" name="4h" />
            <input type="submit" value="8h" name="8h" />
        </form>
        <form action="/" method="POST">
            {% for item in items %}
            <!--add checked if needed-->
            <input type="checkbox" id="{{ item }}" name="{{ item }}" value="{{ item }}">
            <label for="{{ item }}">{{ item }}</label><br>
            {% endfor %}
            <br><br>
            <input type="submit" value="Submit">
        </form>
    </div>
</body>
<script>
    window.onload = function () {
        var xValues = [50, 60, 70, 80, 90, 100, 110, 120, 130, 140, 150];
        var yValues = [7, 8, 8, 9, 9, 9, 10, 11, 14, 14, 15];

        var ctx = document.getElementById("myChart");
        var myChart = new Chart(ctx, {
            type: 'line',
            data: {
                labels: yValues,
                datasets: [{
                    data: xValues
                }]
            },
            label: "Afrika",
            borderColor: "#3e95cd",
            fill: false
        });
        chart.render();
    }
</script>

</html>